@{
    ViewData["Title"] = "Paint Hobby";
}

<div class="text-center">
    <br/><br/>
    <h1 class="display-4">Welcome to my Art Gallery</h1>
    <br/>
    <p>-all art is original-</p>
    <br/>

    <div class="top-images">
        <img src="20230405_154241.jpg" height="400"/>
        <img src="IMG_E4778.jpg" height="400"/>
    </div>

    <div class="bottom-images">
        <img src="IMG_5002.jpeg" height="400"/>
        <img src="IMG_1577.jpeg" height="400"/>
    </div>
    <br/><br/><br/><br/><br/>
    <h1 class="display-5">about the artist</h1>
</div>
<div>
    <p></p>
</div>


<style>
    .top-images {
        margin-bottom: 5px; /* Adjust space between top and bottom images */
    }
</style>